.header {
  -webkit-box-shadow: 1px 8px 12px -2px rgba(201, 201, 201, 0.54);
  box-shadow: 1px 8px 12px -2px rgba(201, 201, 201, 0.54);
  min-height: 10vh;
  background-color: #fff;
  z-index: 10;
  position: relative;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header-container .no-decoration {
  text-decoration: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
}

.header .header-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #005831;
  font-weight: 600;
}

.header .header-container img {
  width: 50px;
  height: 50px;
}

.header .header-container .hearder-text {
  margin: 0 10px;
  font-size: 1.2rem;
}

.header .header-container .header-tm {
  font-size: 1.4rem;
  color: #005831;
  font-weight: 500;
}

.header .header-container .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-container .bigger-police {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header .header-container .header-tm {
    margin: 10px 0;
  }

  .header .no-decoration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}